<meta name="replace" content="guac-notification">
<div ng-controller="hostController">

    <guac-notification ng-if="$root.showBootNotification===false" notification="status"></guac-notification>
    <div ng-if="$root.showBootNotification"  style="
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index:-1;
                ">
            <!-- <div ng-show="notification.title" class="title-bar" style="margin:0px"> -->
            <!-- <div  class="title-bar" style="margin:0px"> -->
            <!--     <div class="title">{{host.hostname}} {{ 'GUACAMOLE_TRIGGER.IS_BOOTING' |translate }}</div> -->
            <!-- </div> -->
            <!-- FIXME make title console configerable -->
            <!-- <h1 class=console-title>Host:{{ host.hostname}} is booting</h1>> -->
            <h1 class="console-title">Your Lab is being deployed:</h1>
            <console  output="$root.host.console"></console>
    </div>
</div>

