.console-title {
    color: lightgrey;
    background-color:green;
}
.console {
    white-space:pre;
    background-color:#1c1c1c;
    color: lightgrey;
    font-family: monospace;
    height: 100%;
    overflow: auto;
    padding-left:2%;
    margin:0px;
    text-align: left;
}
